.selectOption {
    cursor: pointer;
    width: 100%;
    height: 45px;
    position: relative;
    box-sizing: border-box;
}
.selectOption--disabled {
    cursor: not-allowed;
    opacity: .3;
}
.selectOption__header {
    height: 100%;
    padding: 0 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
}
.selectOption__header-title {
    color: #37474f;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 32px);
    margin: 0;
}
.selectOption__header-title--choosed {
    font-weight: 700;
}
.selectOption__header-arrow {
    position: absolute;
    left: auto;
    top: 2px;
    bottom: 2px;
    right: 2px;
    background: #0080ff;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selectOption__header-arrow svg {
    fill: #ffffff;
}
.selectOption__options {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #fafafa;
    box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.36);
    max-height: 301px;
    min-width: 100%;
    overflow: auto;
}
.selectOption__options-items {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0 12px;
    min-height: 45px;
    border-top: 1px solid #ededed;
    transition: background .2s ease-in;
}
.selectOption__options-items:hover {
    background-color: white;
}
