// default settings
$max-width:       none!default;
$select-height:   45px!default;
$header-color:    #37474f!default;
$arrow-bg:        #0080ff!default;
$arrow-fill:      #ffffff!default;
$arrow-width:     32px!default;
$header-bg:       #ffffff!default;
$options-bg:      #fafafa!default;
$options-color:   #37474f!default;
$options-shadow:  0 5px 10px -4px rgba(0, 0, 0, .36)!default;



// Component
.selectOption {
  max-width: $max-width;
  cursor: pointer;
  width: 100%;
  height: $select-height;
  position: relative;
  box-sizing: border-box;

  // Disabled
  &--disabled {
    cursor: not-allowed;
    opacity: .3;
  }

  &__header {
    height: 100%;
    padding: 0 0 0 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $header-bg;

    &-title {
      color: $header-color;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: calc(100% - #{$arrow-width});
      margin: 0;

      &--choosed {
        font-weight: 700;
      }

    }

    &-arrow {
      position: absolute;
      left: auto;
      top: 2px;
      bottom: 2px;
      right: 2px;
      background: $arrow-bg;
      width: $arrow-width;

      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        fill: $arrow-fill;
      }
    }

  }

  &__options {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: $options-bg;
    box-shadow: $options-shadow;
    max-height: 301px;
    min-width: 100%;
    overflow: auto;

    &-items {
      margin: 0;
      display: flex;
      align-items: center;
      padding: 0 12px;
      min-height: $select-height;
      border-top: 1px solid darken($options-bg, 5%);
      transition: background .2s ease-in;

      &:hover {
        background-color: lighten($options-bg, 5%);
      }
    }
  }

}
